@media only screen and (min-width:200px) and (max-width:575px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0px;
        justify-content: center !important;
        background-color: white;
        padding: 5px 0px;
    }
    .whatsappbtn,.call{
        padding: 7px, 15px;
        font-size: 14px;
    }
    .banner h1{
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        line-height: 35px;
    }
    .banner br{
        display: none;
    }
    .banner ul li,.banner p{
        font-size: 16px;
    }
    .bannerbtn{
        flex-direction: column;
    }
    .bannerbtn button{
        width: 100%;
    }
    .bannerform{
        padding: 20px;
    }
    .highlight-section h2{
        color: #0a2134;
        font-size: 28px;
        font-weight: 700;
    }

    .btn-1 button{
        font-size: 12px;
    }
}
 
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1170px;
    }
}